.gallery-item {
  display: inline-block;
  height: 275px;
  width: 225px;
  margin: 50px 10px 10px 10px;
  padding: 10px;
  text-align: center;
}

.picture-container {
  height: 200px;
  width: 200px;
}

.loveIt-button {
  margin: 20px 0 10px 0;
}

.love-counter {
  margin: 10px;
}
