.gallery-item {
  display: inline-block;
  height: 275px;
  width: 225px;
  margin: 50px 10px 10px 10px;
  padding: 10px;
  text-align: center;
}

.picture-container {
  height: 200px;
  width: 200px;
  line-height: 200px;
}

.picture-container p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.loveIt-button {
  margin: 20px 0 10px 0;
}

.love-counter {
  margin: 10px;
}

.rock-n-roll {
  font-family: 'RocknRoll One', sans-serif;
}
